{% extends "base.html" %}
{% load static %}
{% block title %}Indstillinger{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'shifts/admin.css' %}" />
<link rel="stylesheet" href="{% static 'shifts/admin_settings.css' %}" />
<script src="{% static 'frontend/index.js' %}"></script>
<script>
window.addEventListener("load", () => initSettings(document.getElementById("sp_settings"), {}), false);
</script>
{% endblock %}
{% block content %}
<div id="sp_settings" style="display: flex; flex-direction: column"></div>
{% endblock %}
