{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'shifts/admin.css' %}" />
{% for s in styles %}
<link rel="stylesheet" href="{{ s }}" />
{% endfor %}

{% if FRONTEND_DEV_MODE %}
<!-- https://gist.github.com/lucianoratamero/7fc9737d24229ea9219f0987272896a2 -->
<script type="module" src="http://localhost:19167/@vite/client"></script>
<script type="module">
import RefreshRuntime from 'http://localhost:19167/@react-refresh'
if (RefreshRuntime) {
  RefreshRuntime.injectIntoGlobalHook(window)
  window.$RefreshReg$ = () => { }
  window.$RefreshSig$ = () => (type) => type
  window.__vite_plugin_react_preamble_installed__ = true
}
</script>
{% endif %}

<script>
window.shiftplannerOptions = {{ options_json }};
</script>
{% endblock %}
{% block content %}
<div id="shiftplanner_admin" class="{{ container_class }}"></div>
{% for s in scripts %}
<script type="module" src="{{s}}"></script>
{% endfor %}
{% endblock %}
