{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'shifts/admin.css' %}" />
{% for s in styles %}
<link rel="stylesheet" href="{{ s }}" />
{% endfor %}
<script src="{% static 'frontend/index.js' %}"></script>
<script>
window.addEventListener("load", () => initShiftPlanner({{ options_json }}), false);
</script>
{% endblock %}
{% block content %}
<div id="shiftplanner_admin" class="{{ container_class }}"></div>
{% endblock %}
