{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'shifts/schedule.css' %}" />
<script>
window.addEventListener("keypress", function(ev) {
        if (ev.code === "KeyJ") document.querySelector(".sp_next a").click();
        else if (ev.code === "KeyK") document.querySelector(".sp_prev a").click();
        else return;
        ev.preventDefault();
}, false);
</script>
{% endblock %}
{% block content %}
<div class="sp_schedule">
    {% if form_error %}<div class="sp_error">{{ form_error }} <a href="">OK</a></div>{% endif %}
<div class="sp_weekheader">
    <div class="sp_prev"><a href="{{ prev }}">&larr;</a></div>
    <div class="sp_weekdisplay">Uge {{ week }}, {{ year }}</div>
    <div class="sp_next"><a href="{{ next }}">&rarr;</a></div>
</div>

{% if worker %}
<div class="sp_login">
    Logget ind som {{ worker }}.
    <form style="display: inline" action="{% url 'worker_logout' %}">{% csrf_token %}
        <input type="submit" value="Log ud" />
    </form>
</div>
{% else %}
<div class="sp_login">
    Ikke logget ind.
    <a href="{% url 'worker_login' %}">Log ind</a>
</div>
{% endif %}

<div class="sp_days">
{% for weekday in weekdays %}
<div class="sp_weekday_shifts">
    <h1><div class="sp_the_weekday">{{ weekday.date|date:"l" }}</div> <div class="sp_the_fulldate">{{ weekday.date }}</div></h1>
{% for shift in weekday.shifts %}
<div class="sp_shift">
<h2>{{ shift.name }}</h2>
<ol>
{% for worker in shift.workers %}
    {% if worker.me %}
    <li class="sp_myshift">{{ worker.name }}</li>
    {% else %}
    <li>{{ worker.name }}</li>
    {% endif %}
{% endfor %}
</ol>

{% if shift.open %}
<form method="post">{% csrf_token %}
    <input type="hidden" name="date" value="{{ weekday.date|date:"Y-m-d" }}" />
    <input type="hidden" name="shift" value="{{ shift.slug }}" />
    {% if shift.me %}
    <input type="submit" name="unregister" value="Afmeld" />
    {% else %}
    <input type="submit" name="register" value="Tilmeld" />
    {% endif %}
</form>
{% endif %}

</div>
{% endfor %}
</div>
{% endfor %}
</div>
</div>

{% endblock %}
