{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Uge {{ week }}, {{ year }} · Vagtbooking</title>
<link rel="stylesheet" href="{% static 'shifts/base.css' %}" />
<style>
table.sp_schedule_print {
	width: 100%;
        white-space: nowrap;
	border-bottom: 1px solid black;
}
td, th {
	border-top: 1px solid black;
	text-align: left;
}
tr.sp_newshift > td, tr.sp_newshift > th {
	border-top-width: 2px;
}
.sp_phone { padding-right: 7px; }
</style>
</head>
<body>
<div style="float: right">Uge {{ week }}, {{ year }}</div>
<div class="print_header_text">
{{ print_header_text|linebreaks }}
</div>
<table class="sp_schedule_print" cellspacing="0">
	<col style="width: 10%" />
	<col style="width: 10%"/>
	<col style="width: 10%" />
	<col style="width: 10%" />
	<col style="width: 50%" />
	<col style="width: 10%; text-align: right" />
<thead>
<tr>
<th>Dato</th>
<th>Vagt</th>
<th>Navn</th>
<th>Telefon</th>
<th>Bemærkninger</th>
<th>Bestilt</th>
</tr>
</thead>
<tbody>
{% for date, worker, phone, slug, note in rows %}
<tr
        class="
{% ifchanged date %}
sp_newdate
{% endifchanged %}
{% ifchanged date slug %}
sp_newshift
{% endifchanged %}
"
    >
<td>
{% ifchanged %}
<b>{{ date|date:"l j/n-Y" }}</b>
{% endifchanged %}
</td>
<td>
{% ifchanged date slug %}
{{ slug }}
{% endifchanged %}
</td>
<td>{{ worker }}</td>
<td class="sp_phone">{{ phone }}</td>
<td>{{ note }}</td>
<td></td>
</tr>
{% endfor %}
</tbody>
</table>
</body>
</html>
