{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Uge {{ week }}, {{ year }} · Vagtbooking</title>
<link rel="stylesheet" href="{% static 'shifts/base.css' %}" />
<style>
table.sp_schedule_print {
	width: 100%;
        white-space: nowrap;
	border-bottom: 1px solid black;
}
td, th {
	border-top: 1px solid black;
	text-align: left;
}
tr.sp_newshift > td, tr.sp_newshift > th {
	border-top-width: 2px;
}
.sp_phone { padding-right: 7px; }
.sp_workercomment { font-style: italic; }
</style>
<style>{{ WORKPLACE.workplace_css }}</style>
</head>
<body>
<div style="float: right">Uge {{ week }}, {{ year }}</div>
<div class="print_header_text">
{{ print_header_text|linebreaks }}
</div>
<table class="sp_schedule_print" cellspacing="0">
	<col style="width: 10%" />
	<col style="width: 10%"/>
	<col style="width: 10%" />
	<col style="width: 10%" />
        {% if WORKPLACE.enable_worker_email %}
	<col style="width: 10%" />
        {% endif %}
        {% if WORKPLACE.use_bestilt %}
	<col style="width: 50%" />
	<col style="width: 10%; text-align: right" />
        {% else %}
	<col style="width: 50%; text-align: right" />
        {% endif %}
<thead>
<tr>
<th>Dato</th>
<th>Vagt</th>
<th>Navn</th>
<th>Telefon</th>
{% if WORKPLACE.enable_worker_email %}
<th>Email</th>
{% endif %}
{% if WORKPLACE.use_bestilt %}
<th>Bemærkninger</th>
<th>Bestilt</th>
{% else %}
<th style="text-align: right">Bemærkninger</th>
{% endif %}
</tr>
</thead>
<tbody>
{% for date, worker, phone, email, slug, note, worker_comment in rows %}
<tr
        class="
{% ifchanged date %}
sp_newdate
{% endifchanged %}
{% ifchanged date slug %}
sp_newshift
{% endifchanged %}
"
    >
<td>
{% ifchanged %}
<b>{{ date|date:"l j/n-Y" }}</b>
{% endifchanged %}
</td>
<td>
{% ifchanged date slug %}
{{ slug }}
{% endifchanged %}
</td>
<td>{{ worker }}</td>
<td class="sp_phone">{{ phone }}</td>
{% if WORKPLACE.enable_worker_email %}
<td class="sp_email">{{ email }}</td>
{% endif %}
<td>
<span class="sp_note">{{ note }}</span>
{% if worker_comment %}
<span class="sp_workercomment">{{ worker_comment }}</span>
{% endif %}
</td>
{% if WORKPLACE.use_bestilt %}
<td></td>
{% endif %}
</tr>
{% endfor %}
</tbody>
</table>
</body>
</html>
