{% extends "base.html" %}
{% load static %}
{% block title %}Vagtplan{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'shifts/schedule.css' %}" />
<link rel="stylesheet" href="{% static 'shifts/admin.css' %}" />
<script src="{% static 'frontend/index.js' %}"></script>
<script>
window.addEventListener("load", () => initScheduleEdit(document.getElementById("schedule-edit"), {"year": {{year}}, "week": {{week}} }), false);
</script>
{% endblock %}
{% block content %}
<div id="schedule-edit" class="sp_schedule"></div>
{% endblock %}
