{% extends "base.html" %}
{% load static %}
{% block title %}Uge {{ week }}, {{ year }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'shifts/schedule.css' %}" />
<script>
window.addEventListener("keypress", function(ev) {
        if (ev.target.tagName === "INPUT") return;
        if (ev.code === "KeyJ") document.querySelector(".sp_next a").click();
        else if (ev.code === "KeyK") document.querySelector(".sp_prev a").click();
        else return;
        ev.preventDefault();
}, false);
</script>
{% endblock %}
{% block content %}
<div class="sp_schedule">
    {% if message_of_the_day %}<div class="sp_message_of_the_day">{{ message_of_the_day }}</div>{% endif %}
    {% if form_error %}<div class="sp_error">{{ form_error }} <a href="">OK</a></div>{% endif %}
<div class="sp_weekheader">
    <div class="sp_prev"><a href="{{ prev }}">&larr;</a></div>
    <div class="sp_weekdisplay">Uge {{ week }}, {{ year }}</div>
    <div class="sp_next"><a href="{{ next }}">&rarr;</a></div>
</div>

{% if worker %}
<div class="sp_login">
    Logget ind som {{ worker }}.
    <a href="/myshifts/">Mine bookinger</a>
    <form method="post" style="display: inline" action="{% url 'worker_logout' %}">{% csrf_token %}
        <input type="submit" value="Log ud" />
    </form>
</div>
{% else %}
<div class="sp_login">
    Ikke logget ind.
    <a href="{% url 'worker_login' %}">Log ind</a>
</div>
{% endif %}

<form method="post">{% csrf_token %}
<div class="sp_days">
{% for weekday in weekdays %}
<div class="sp_weekday_shifts">
    <h1><div class="sp_the_weekday">{{ weekday.date|date:"l" }}</div> <div class="sp_the_fulldate">{{ weekday.date }}</div></h1>
{% for shift in weekday.shifts %}
<div class="sp_shift">
<h2>{{ shift.name }}</h2>
<ol>
{% for worker in shift.workers %}
    {% if worker.me %}
    <li class="sp_myshift">{{ worker.name }}</li>
    {% else %}
    <li>{{ worker.name }}</li>
    {% endif %}
{% endfor %}
</ol>

{% if shift.own_comment %}
<div class="sp_own_comment">Min bemærkning: <span class="sp_own_comment_text">{{ shift.own_comment }}</span></div>
{% endif %}
{% if worker %}
<div class="sp_own_comment_edit" id="sp_own_comment_edit_{{ weekday.date|date:"Y-m-d" }}_{{ shift.slug }}">
<input placeholder="Bemærkning" name="owncomment_{{ weekday.date|date:"Y-m-d" }}_{{ shift.slug }}" value="{{ shift.own_comment }}" />
</div>
{% endif %}

{% if shift.open %}
    {% if shift.me %}
    <input type="submit" name="unregister_{{ weekday.date|date:"Y-m-d" }}_{{ shift.slug }}" value="Afmeld" />
    {% if shift.own_comment %}
    <input data-input-ref="sp_own_comment_edit_{{ weekday.date|date:"Y-m-d" }}_{{ shift.slug }}" type="submit" name="savecomment_{{ weekday.date|date:"Y-m-d" }}_{{ shift.slug }}" value="Ret bemærkning" />
    {% else %}
    <input data-input-ref="sp_own_comment_edit_{{ weekday.date|date:"Y-m-d" }}_{{ shift.slug }}" type="submit" name="savecomment_{{ weekday.date|date:"Y-m-d" }}_{{ shift.slug }}" value="Tilføj bemærkning" />
    {% endif %}
    {% else %}
    <input type="submit" name="register_{{ weekday.date|date:"Y-m-d" }}_{{ shift.slug }}" value="Tilmeld" />
    <input data-input-ref="sp_own_comment_edit_{{ weekday.date|date:"Y-m-d" }}_{{ shift.slug }}" type="submit" name="registercomment_{{ weekday.date|date:"Y-m-d" }}_{{ shift.slug }}" value="Tilmeld med bemærkning" />
    {% endif %}
{% endif %}

</div> <!-- sp_shift -->
{% endfor %}
</div> <!-- sp_weekday_shifts -->
{% endfor %}
</div> <!-- sp_days -->
</form>
</div> <!-- sp_schedule -->

<center><small><a href="/admin/">For vagtplanlæggere</a></small></center>

<script>
var sp_own_comment_edit = document.querySelectorAll(".sp_own_comment_edit");
for (var i = 0; i < sp_own_comment_edit.length; ++i) sp_own_comment_edit[i].style.display = "none";
</script>

<script>
function inputKeyPress(btn, ev) {
    if (ev.code !== "Enter") return;
    ev.preventDefault();
    btn.click();
}
function dataInputRefClick(ev) {
    var k = ev.target.getAttribute("data-input-ref");
    if (!k) return;
    var o = document.getElementById(k);
    if (!o) return;
    var inp = o.querySelector("input");
    if (!inp) return;

    if (o.style.display !== "none") return;
    o.style.display = "";
    inp.focus();
    inp.select();
    inp.addEventListener("keypress", inputKeyPress.bind(null, ev.target), false);
    ev.preventDefault();
    ev.stopPropagation();
}
var data_input_ref = document.querySelectorAll("[data-input-ref]");
for (var i = 0; i < data_input_ref.length; ++i) data_input_ref[i].addEventListener("click", dataInputRefClick, false);
</script>

{% endblock %}
