{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Uge {{ week }}, {{ year }} · Vagtplanlægning</title>
<link rel="stylesheet" href="{% static 'shifts/base.css' %}" />
<style>
table.sp_schedule_print {
	width: 100%;
        white-space: nowrap;
}
td, th {
	border-bottom: 1px solid black;
	text-align: left;
}
</style>
</head>
<body>
<div class="print_header_text">
{{ print_header_text|linebreaks }}
</div>
<table class="sp_schedule_print" cellspacing="0">
	<col style="width: 10%" />
	<col style="width: 10%"/>
	<col style="width: 10%" />
	<col style="width: 10%" />
	<col style="width: 10%" />
	<col style="width: 50%" />
<thead>
<tr>
<th>Dato</th>
<th>Navn</th>
<th>Telefon</th>
<th>Vagt</th>
<th>Bestilt</th>
<th>Bemærkninger</th>
</tr>
</thead>
<tbody>
{% for date, worker, phone, slug, note in rows %}
<tr>
<td>
{% ifchanged %}
<b>{{ date|date:"j/n-Y" }}</b>
{% endifchanged %}
</td>
<td>{{ worker }}</td>
<td>{{ phone }}</td>
<td>{{ slug }}</td>
<td></td>
<td>{{ note }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</body>
</html>
